{% extends "pizzas/base.html" %}


{% block content %}
<p>
    <BODY>
        <iframe src="https://giphy.com/embed/rUtrZAGFMFjvq" width="480" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/infinite-loop-rUtrZAGFMFjvq"></a></p>
    </BODY>
    "Yeah we have infinite pizza" - Big Papa 1962-2012

    
</p>

<p>Stuff that's missing from this project: comments, user logins. I made a model, form, and view for comment stuff, but couldn't figure out how to actually implement them.</p>

{% endblock content %}